<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Fontawesome CDN Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <!-- Additional CSS or JS files -->
  <link href="styles.css" rel="stylesheet">
</head>
<body>
    <!-- Header Section -->
    <header class="bg-gray-800 text-white">
      <nav class="container mx-auto px-4 py-2 flex justify-between items-center">
          <div class="text-2xl font-bold text-align: right;">DEBO ENGINEERING</div>
      </nav>
    </header>
    <!-- Hero Section -->
    <section class="bg-center bg-cover" style="background-image: url('https://source.unsplash.com/featured/1280x720/?face-recognition')">
      <div class="container my-auto py-48 px-64">
        <h1 class="text-5xl font-bold text-white mb-8 px-68 translateY(100%) transform 0.5s ease-in-out">Face Recognition</h1>
        <h1 class="text-3xl font-bold text-white mb-8">The Future of Security and Convenience</h1>
      </div>
  </section>
     <form action="#" method="POST" enctype="multipart/form-data" class="container bg-gray-100 py-8 px-64 mx-auto mt-8"> 
          {% csrf_token %}
          {{ form.as_table }}
         <br>
          <input type="submit" value="UPLOAD" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4">
         </form>
     </form>
     {% if upload  %}
     <div class="container mx-auto mt-8">
      <img src="/media/ml_output/process.jpg" alt="">
     </div>
     <div class="container mx-auto mt-8">
        <table class="border-collapse border border-gray-400 mx-auto">
            <tr class="bg-gray-200">
                <th class="border border-gray-400 px-4 py-2">Face</th>
                {% for c in results.count %}
                  <td class="border border-gray-400 px-4 py-2">
                    <img src="/media/ml_output/rio_{{c}}.jpg" alt="">
                  </td>
                {% endfor %}   
            </tr>
            <tr class="bg-gray-200">
              <th class="border border-gray-400 px-4 py-2">Name</th>
                {% for name in results.face_name %}
                  <td class="border border-gray-400 px-4 py-2">{{ name }}</td>
                {% endfor %}
              
            </tr>
            </tr>
            <tr class="bg-gray-200">
              <th class="border border-gray-400 px-4 py-2">Face Score</th>
                {% for name_score in results.face_name_score %}
                  <td>{{ name_score }}</td>
                {% endfor %}
                
            </tr>

            <tr class="bg-gray-200">
              <th class="border border-gray-400 px-4 py-2">Emotion Score</th>
                {% for emotion_score in results.emotion_name_score %}
                  <td class="border border-gray-400 px-4 py-2">{{ emotion_score }}</td>
                {% endfor %}
                
            </tr>
             

        </table>
      </div>
      {% endif %}
 <!-- Feature Section -->
 <section class="bg-gray-100 py-24">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Feature Card 1 -->
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <i class="fas fa-eye fa-3x text-blue-500 mb-6"></i>
        <h2 class="text-xl font-bold mb-4">Face Detection</h2>
        <p class="text-gray-500">Detect faces with high accuracy.</p>

      </div>

      <!-- Feature Card 2 -->
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <i class="fas fa-cloud-upload-alt fa-3x text-blue-500 mb-6"></i>
        <h2 class="text-xl font-bold mb-4">Easy Integration</h2>
        <p class="text-gray-500">Easily integrate the face recognition APIs into your applications.</p>
      </div>

      <!-- Feature Card 3 -->
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <i class="fas fa-chart-line fa-3x text-blue-500 mb-6"></i>
        <h2 class="text-xl font-bold mb-4">Analytics and Insights</h2>
        <p class="text-gray-500">Analyze face data and gain valuable insights with built-in analytics.</p>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section -->
<section class="bg-white py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">What Our Customers Say</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Testimonial 1 -->
      <div class="bg-gray-100 rounded-lg p-6 text-center">
        <i class="fas fa-quote-left fa-2x text-blue-500 mb-4"></i>
        <p class="text-gray-800 mb-4">"We are very pleased with the performance of face recognition technology. It is accurate, reliable, and easy to use."</p>
        <h3 class="text-lg font-bold">Jossy</h3>
        <p class="text-gray-500">Computer Engeener, Debo Engeenering</p>
      </div>

      <!-- Testimonial 2 -->
      <div class="bg-gray-100 rounded-lg p-6 text-center">
        <i class="fas fa-quote-left fa-2x text-blue-500 mb-4"></i>
        <p class="text-gray-800 mb-4">" It allows us to verify the identities of our customers quickly and securely, and it has helped us to reduce fraud and improve the customer experience."</p>
        <h3 class="text-lg font-bold">Zele</h3>
        <p class="text-gray-500">Computer Engeener, Debo Engeenering</p>
      </div>
      <!-- Testimonial 2 -->
      <div class="bg-gray-100 rounded-lg p-6 text-center">
        <i class="fas fa-quote-left fa-2x text-blue-500 mb-4"></i>
        <p class="text-gray-800 mb-4">" This system is very easy to use and manage. Even our non-technical staff were able to get up and running quickly."</p>
        <h3 class="text-lg font-bold">Teme</h3>
        <p class="text-gray-500">Computer Engeener, Debo Engeenering</p>
      </div>
      <!-- Testimonial 2 -->
      <div class="bg-gray-100 rounded-lg p-6 text-center">
        <i class="fas fa-quote-left fa-2x text-blue-500 mb-4"></i>
        <p class="text-gray-800 mb-4">" This face recognition system is incredibly accurate and reliable. We've been using it for months now and it hasn't failed us once."</p>
        <h3 class="text-lg font-bold">Teddi</h3>
        <p class="text-gray-500">Computer Engeener, Debo Engeenering</p>
      </div>
    </div>
  </div>
</section>

<!-- FAQ Section -->
<section class="bg-white py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Frequently Asked Questions</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- FAQ 1 -->
      <div class="bg-gray-100 rounded-lg p-6">
        <h3 class="text-xl font-bold mb-2">How does facial recognition work?</h3>
        <p class="text-gray-800 mb-4">Facial recognition systems use artificial intelligence (AI) to analyze facial features and create a unique digital signature for each face. This signature can then be used to identify or verify a person's identity by comparing it to a database of known faces.</p>
      </div>

      <!-- FAQ 2 -->
      <div class="bg-gray-100 rounded-lg p-6">
        <h3 class="text-xl font-bold mb-2">Will I be recognised with glasses / a beard / a new haircut?</h3>
        <p class="text-gray-800 mb-4"> Yes, most facial recognition systems will still be able to recognize you with glasses, a beard, or a new haircut. However, the accuracy of the system may be reduced if there are significant changes to your appearance.
      </p>
      </div>

      <!-- FAQ 3 -->
      <div class="bg-gray-100 rounded-lg p-6">
        <h3 class="text-xl font-bold mb-2">How accurate is facial recognition?</h3>
        <p class="text-gray-800 mb-4">The accuracy of facial recognition systems varies depending on a number of factors, including the quality of the image, the lighting conditions, and the size and diversity of the database being used. However, in ideal conditions, facial recognition systems can be extremely accurate.</p>
      </div>

      <!-- FAQ 4 -->
      <div class="bg-gray-100 rounded-lg p-6">
        <h3 class="text-xl font-bold mb-2">Is facial recognition biased?</h3>
        <p class="text-gray-800 mb-4">Yes, facial recognition systems can be biased, depending on the data they are trained on and the algorithms used. For example, studies have shown that facial recognition systems are less accurate at identifying people of color and women than they are at identifying white men.</p>
      </div>
    </div>
  </div>
</section>

<!-- Blog Section -->
<section class="bg-gray-100 py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Our Team Members</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Blog Post 1 -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-bold mb-4">Yosef Delesa</h3>
        <p class="text-gray-500">Fifth year Jimma university Elecrical and computer Engeenering student </p>
        <a href="#" class="text-blue-500 font-bold mt-4">Read More</a>
      </div>

      <!-- Blog Post 2 -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-bold mb-4">Zelalem Kibru</h3>
        <p class="text-gray-500">Fifth year Jimma university Elecrical and computer Engeenering student </p>
        <a href="#" class="text-blue-500 font-bold mt-4">Read More</a>
      </div>

      <!-- Blog Post 3 -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-bold mb-4">Tewdros Asfaw </h3>
        <p class="text-gray-500">Fifth year Jimma university Elecrical and computer Engeenering student</p>
        <a href="#" class="text-blue-500 font-bold mt-4">Read More</a>
      </div>
      <!-- Blog Post 3 -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-bold mb-4">Temesgen Gezahegn</h3>
        <p class="text-gray-500">Fifth year Jimma university Elecrical and computer Engeenering student</p>
        <a href="#" class="text-blue-500 font-bold mt-4">Read More</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>